<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>466619968557-7jui252jur5qgla78944g1ea2givlbd4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.466619968557-7jui252jur5qgla78944g1ea2givlbd4</string>
	<key>API_KEY</key>
	<string>AIzaSyDDWURGezwVM1q3BWFJbuCm9jUBuaNdeX4</string>
	<key>GCM_SENDER_ID</key>
	<string>466619968557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>GHaskell.SmileCheck</string>
	<key>PROJECT_ID</key>
	<string>smilecheck-18a49</string>
	<key>STORAGE_BUCKET</key>
	<string>smilecheck-18a49.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:466619968557:ios:d8848a5a09725d2cffdca4</string>
</dict>
</plist>
