<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.466619968557-7jui252jur5qgla78944g1ea2givlbd4</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>466619968557-7jui252jur5qgla78944g1ea2givlbd4.apps.googleusercontent.com</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSApplePayUsageDescription</key>
	<string>Allow the app to use Apple Pay for payments.</string>
	<key>NSPaymentServicesUsageDescription</key>
	<string>We use payment services to complete transactions securely.</string>
	<key>NSUserNotificationUsageDescription</key>
	<string>We use notifications to keep you updated with important information.</string>
	<key>NSUserNotificationsUsageDescription</key>
	<string>Allow the app to notify you of new dental plans and updates.</string>
	<key>Pay</key>
	<string></string>
</dict>
</plist>
